<div class="container">
    <div class="navbar-header">
        <a class="navbar-brand visible-xs" href="/">Web консоль</a>
    </div>
    <nav>
        <ul class="nav navbar-nav">
            <a href="/" role="button" class="navbar-brand">Web консоль</a>
            <li><a href="{{menu.users.link}}">{{menu.users.title}}</a></li>
            <li><a href="{{menu.projects.link}}">{{menu.projects.title}}</a></li>
            <li><a href="{{menu.auth.link}}">{{menu.auth.title}}</a></li>
        </ul>
    </nav>
</div>